body{
	background-image:url(../css/fdprincipal.jpg);
	background-repeat:not-repeat;
	background-size:100% 100%;
	}
.menu {
	background:#3A3838;  
	list-style-type:none;
	margin:1px:
	padding:0px;
	overflow:hidden;
	}
.menu li{
	list-style:none;
	overflow:hidden;
	float: left;
	}
.menu li a{
	display:block;
	padding:5px 20px;;
	color:white;
	text-decoration:none;
	}
.menu li a:hover 
	{
	background:#ccc; color:#000;
	text-decoration:none;
	}
.menu-fixed{
	position:fixed;
	z-index:1000;
	top:0;
	}
.pini{
	color:white;
	font-size:30px;
	background-color:#5D4B4;
	}

h1{
	color:white;
	}
.contenido
	{
	border-radius:12px;
	}
.parrafo
	{
	background-color:#5D4B4;
	}