body{
	background:url(../css/calaveras.jpg);
	}
.pini{
	color:white;
	}
.pkin{
	color:#64479F;
	font-family:"Arial";
	font-size:150%;
	border: 8px dotted;
	}
.ppri{
	color:#F73310;
	font-family:"Arial";
	font-size:150%;
	border: 8px dotted;
	}
.h1{
	font-weight: normal;
	color:white;
	}
.fdk{
	background:url(../css/fdkinder.jpg);
	background-size:100% 100%;
	}
.fdpri{
	background:url(../css/fdprimaria.jpg);
	background-size:100% 100%;
	}
height:1000px;
	width:1500;
